useDynLib(patternplot, .registration = TRUE)
export(patternpie)
export(imagepie)
export(patternboxplot)
export(imageboxplot)
export(patternbar)
export(imagebar)
import(ggplot2)
importFrom("grDevices", "rgb")
importFrom("stats", "median")
importFrom("utils", "head")
importFrom("gtable", "gtable_filter")
importFrom(png, readPNG)
importFrom(jpeg, readJPEG)
importFrom(dplyr, filter)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom(R6, R6Class)

