useDynLib(patternplot, .registration = TRUE)
export(patternpie)
export(imagepie)
export(patternboxplot)
export(imageboxplot)
export(patternbar)
export(imagebar)
export(patternbar_s)
export(imagebar_s)
export(patternring1)
export(imagering1)
export(patternrings2)
export(imagerings2)
export(pattern)
import(ggplot2)
importFrom("grDevices", "rgb", "dev.off", "png")
importFrom("stats", "median")
importFrom("utils", "head")
importFrom("gtable", "gtable_filter")
importFrom("png", "readPNG")
importFrom("jpeg", "readJPEG")
importFrom("dplyr", "filter")
importFrom("Rcpp", "evalCpp")
importFrom("RcppParallel", "RcppParallelLibs")
importFrom("R6", "R6Class")
importFrom("gridExtra", "grid.arrange")
importFrom("graphics", "abline", "lines", "par", "plot", "plot.new","segments")